<div>
  {{!-- <h2>{{localize "CRLNGN_UI.settings.customFontsDialog.label"}}</h2> --}}
  <div class="form-group">
    <p class="hint">{{localize "CRLNGN_UI.settings.customFontsDialog.hint"}}</p>
  </div>
  <p>&nbsp;</p> 

  <div class="form-group">
    <label for="uiFont">{{localize "CRLNGN_UI.settings.customFontsDialog.fields.ui"}}</label>
    <input type="text" name="uiFont" value="{{uiFont}}" />
    <p class="hint">&nbsp;</p> 
  </div>
  
  <div class="form-group">
    <label for="journalBodyFont">{{localize "CRLNGN_UI.settings.customFontsDialog.fields.journalBody"}}</label>
    <input type="text" name="journalBodyFont" value="{{journalBodyFont}}" />
    <p class="hint">&nbsp;</p> 
  </div>
  
  <div class="form-group">
    <label for="journalTitleFont">{{localize "CRLNGN_UI.settings.customFontsDialog.fields.journalTitle"}}</label>
    <input type="text" name="journalTitleFont" value="{{journalTitleFont}}" />
    {{!-- <p class="hint">&nbsp;</p>  --}}
  </div>
  <p>&nbsp;</p>
  <p class="hint">{{localize "CRLNGN_UI.settings.customFontsDialog.postHint"}}</p> 
  <p>&nbsp;</p> 

</div>
