<div>
  {{!-- <h2>{{localize "CRLNGN_UI.settings.customFontsDialog.label"}}</h2> --}}
  <p class="hint">{{localize "CRLNGN_UI.settings.leftControlsMenu.hint"}}</p>

  <div class="form-group">
    <label for="bottomBuffer">{{fields.bottomBuffer.label}}</label>
    <input type="number" name="bottomBuffer" value="{{bottomBuffer}}" />
    <p class="hint">{{{fields.bottomBuffer.hint}}}</p> 
  </div>
  
  <div class="form-group">
    <label for="iconSize">{{fields.iconSize.label}}</label>
    <select name="iconSize">
      {{#each fields.iconSize.options}}
      <option value="{{@key}}" {{#if (eq @key ../iconSize)}}selected{{/if}}>
        {{this}}
      </option>
      {{/each}}
    </select>
    <p class="hint">{{fields.iconSize.hint}}</p> 
  </div>

  <div class="form-group">
    <label for="autoHideSecondary">{{fields.autoHideSecondary.label}}</label>
    <input type="checkbox" name="autoHideSecondary" {{#if autoHideSecondary}}checked{{/if}} />
    <p class="hint">{{fields.autoHideSecondary.hint}}</p> 
  </div>

  <div class="form-group">
    <label for="hideFoundryLogo">{{fields.hideFoundryLogo.label}}</label>
    <input type="checkbox" name="hideFoundryLogo" {{#if hideFoundryLogo}}checked{{/if}} />

    <p class="hint">{{fields.hideFoundryLogo.hint}}</p> 
  </div>

</div>
