<div class="scene-preview" data-scene-id="{{id}}" 
  style="background-image: url({{#if thumb}}{{thumb}}{{else}}''{{/if}})">
  
  <div class="icons">
    {{!-- global ilumination icon --}}
    {{#if environment.globalLight.enabled }}
    <i class="fa-solid fa-lightbulb-on ilum" data-tooltip="{{localize 'CRLNGN_UI.ui.sceneNav.globalLightOn'}}" data-tooltip-direction="UP" data-tooltip-delay="200"></i>
    {{else}}
    <i class="fa-solid fa-lightbulb-slash ilum" data-tooltip="{{localize 'CRLNGN_UI.ui.sceneNav.globalLightOff'}}" data-tooltip-direction="UP" data-tooltip-delay="200"></i>
    {{/if}}

    {{!-- Token vision icon --}}
    {{#if tokenVision }}
    <i class="fa-solid fa-user token-vision" data-tooltip="{{localize 'CRLNGN_UI.ui.sceneNav.tokenVisionOn'}}" data-tooltip-direction="UP" data-tooltip-delay="200"></i>
    {{else}}
    <i class="fa-solid fa-user-slash token-vision" data-tooltip="{{localize 'CRLNGN_UI.ui.sceneNav.tokenVisionOff'}}" data-tooltip-direction="UP" data-tooltip-delay="200"></i>
    {{/if}}

    {{!-- sound icon --}}
    {{!-- {{#if playlistSound }}
      {{#if playlistSound.sound.playing }}
      <i class="fa-solid fa-music sound" data-tooltip="Playlist sound is on" data-tooltip-direction="UP" data-tooltip-delay="500"></i>
      {{else}}
      <i class="fa-solid fa-music-slash sound" data-tooltip="Playlist sound is off" data-tooltip-direction="UP" data-tooltip-delay="500"></i>
      {{/if}}
    {{/if}} --}}
    {{#unless thumb }}
      <i class="fas fa-image gen-thumb" data-tooltip="Generate Thumbnail" data-tooltip-direction="UP" data-tooltip-delay="200"></i>
    {{/unless}}

    {{!-- Scene preload icon --}}
    <i class="fa-solid fa-download preload" data-tooltip="{{localize 'CRLNGN_UI.ui.sceneNav.preloadScene'}}" data-tooltip-direction="UP" data-tooltip-delay="200"></i>

    {{!-- config icon --}}
    <i class="fas fa-cog config" data-tooltip="{{localize 'CRLNGN_UI.ui.sceneNav.sceneConfig'}}" data-tooltip-direction="UP" data-tooltip-delay="200"></i>
  </div>
</div>