<div class="scene-preview" data-scene-id="{{id}}" 
  style="background-image: url({{#if thumb}}{{thumb}}{{else}}''{{/if}})">
  
  <div class="icons">
    {{!-- global ilumination icon --}}
    {{#if environment.globalLight.enabled }}
    <i class="fa-solid fa-lightbulb-on ilum" data-tooltip="Global illumination is on" data-tooltip-direction="DOWN" data-tooltip-delay="200"></i>
    {{else}}
    <i class="fa-solid fa-lightbulb-slash ilum" data-tooltip="Global illumination is off" data-tooltip-direction="DOWN" data-tooltip-delay="200"></i>
    {{/if}}

    {{!-- Token vision icon --}}
    {{#if tokenVision }}
    <i class="fa-solid fa-user token-vision" data-tooltip="Token Vision is on" data-tooltip-direction="DOWN" data-tooltip-delay="200"></i>
    {{else}}
    <i class="fa-solid fa-user-slash token-vision" data-tooltip="Token Vision is off" data-tooltip-direction="DOWN" data-tooltip-delay="200"></i>
    {{/if}}

    {{!-- sound icon --}}
    {{#if playlistSound }}
      {{#if playlistSound.sound.playing }}
      <i class="fa-solid fa-music sound" data-tooltip="Playlist sound is on" data-tooltip-direction="DOWN" data-tooltip-delay="200"></i>
      {{else}}
      <i class="fa-solid fa-music-slash sound" data-tooltip="Playlist sound is off" data-tooltip-direction="DOWN" data-tooltip-delay="200"></i>
      {{/if}}
    {{/if}}

    {{!-- config icon --}}
    <i class="fas fa-cog config" data-tooltip="Scene Configuration" data-tooltip-direction="DOWN" data-tooltip-delay="200"></i>
  </div>
</div>